<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884584286649-69tl8qd9k62k4rnnk3nnp2c2irsap3h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884584286649-69tl8qd9k62k4rnnk3nnp2c2irsap3h6</string>
	<key>API_KEY</key>
	<string>AIzaSyBoLchrGOWkTwBZ4csNq9x2MnJxMjnCMKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>884584286649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgian.aniketpatel.Aniket-Patel-IOS-2</string>
	<key>PROJECT_ID</key>
	<string>aniket-patel-ios-2</string>
	<key>STORAGE_BUCKET</key>
	<string>aniket-patel-ios-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884584286649:ios:a8b83f2c98b8115b6f0e68</string>
</dict>
</plist>